/* This file is used to add custom styles to the documentation site.
 * It is loaded after the default styles.
 */

/* Hack to hide empty reference list item */
.md-nav--primary ul li:last-child {
  display: none;
}

:root {
  --black: #222022;
  --grey: #353038;
  --white: #ffffff;
}

[data-md-color-scheme="slate"] {
  --md-default-bg-color: var(--black);
  --md-code-fg-color: var(--white);
  --md-code-bg-color: var(--grey);
}
