name: "PR Title Enforcement"
on:
  pull_request:
    types: [edited, opened, synchronize, reopened]

jobs:
  title-check:
    runs-on: ubuntu-latest
    steps:
      - uses: naveenk1223/action-pr-title@master
        with:
          regex: ".+" # Regex the title should match.
          allowed_prefixes: "feat, fix, docs, style, refactor, perf, test, build, ci, revert, deps" # title should start with the given prefix
          prefix_case_sensitive: false # title prefix are case insensitive
          min_length: 5 # Min length of the title
          max_length: 120 # Max length of the title
